#root #light {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  #root #dark {
    max-width: 1280px;
    height: 1500px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: #ffffff;
  }
  #root #dark #sans {
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
  }
  #root #light #sans {
    color: #000000;
    font-family: sans-serif;
  }
  #root #dark #serif {
    background-color: #000000;
    color: #ffffff;
    font-family: serif;
  }
  #root #light #serif {
    color: #000000;
    font-family: sans-serif;
  }
  #root #dark #mono {
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
  }

  #root #light #mono {
    color: #000000;
    font-family: monospace;
  }
  #light {
    background-color: #ffffff;
  }
  #dark {
    background-color: #000000;
  }




 
  
  